/_build/
env-*/
.history/
__pycache__/
node_modules/
scratch/
.ipynb_checkpoints/
.ipynb_checkpoints
/vision/datasets/*
!/vision/datasets/README.md
!/vision/datasets/*.jpg
planner/target/
planner/data/
.vscode
/.VSCodeCounter
